<div class="login-screen">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-card">
        <h1>SIPEL<span>Auth</span></h1>
        <p>Acesse o catálago da fabrica</p>

        <div class="field">
            <label for="email">E-mail</label>
            <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="usuario@gmail.com"
            [class.error]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
            >
            <span class="error-msg" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                insira um e-mail valido.
            </span>
        </div>
        <div class="field">
            <label for="password">Senha</label>
            <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="......"
            [class.error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
            >
            <span class="error-msg" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                A senha precisa de pelo menos 4 caracteres e no maximo 12
            </span>
        </div>
        <div class="api-error" *ngIf="errorMessage">
            {{errorMessage}}
        </div>
        <button type="submit" [disabled]="isLoading">
            {{isLoading ? 'Autenticando....':'Entrar no sistema'}}
        </button>

    </form>
</div>